:root {
    /*  sizes */
    --headingFontSize: calc(1rem + 1vw);
    --paraFontSize: calc(0.7rem + 1vw);
    --cardsFontSize: calc(0.3rem + 1vw);
    --paraFontSmall: calc(0.1rem + 1vw);
    --iconSize: calc(0.3rem + 1vw);
    --headingBookingSection: calc(2rem + 2vw);
    --paraBookingSection: calc(1rem + 1vw);
    /* colors */
    --darkBlueBgColor: #00C4DE;
    --lightBlueBgColor: #E5F9FC;
    --fontColor: rgba(0, 0, 0, 0.65);
    --darkBlueBgCss: rgba(0, 196, 222, 1);
}

.AppointmentsContainer {
    width: 99vw;
    height: 100vh;
}

.heroArea {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    height: 80%;
    justify-content: space-evenly;
    /* background-color: blue; */
}


.imgHero {
    width: 60%;

}

.contentHeroArea {
    /* width: 50%; */
    height: 80%;
    /* background-color: aqua; */
    text-align: left;
    /* border: 2px solid black; */
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.heroPara {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: red; */
    height: 90%;
}

.heroArea h1 {
    font-size: var(--headingBookingSection);
}

.heroPara p {
    font-size: var(--paraBookingSection);
}

.heroBtn {

    width: 60%;
    height: 3vw;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 1000;
    background-color: #00C4DE;
    font-size: var(--paraFontSmall);
}

.cardsAboutBooking {
    width: 80vw;
    margin-left: 10vw;
    /* background-color: aqua; */

}

.cardsBrowseClinic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vw;
}

.offerReedem {
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
}

.offerHead {
    font-size: var(--headingFontSize);
}

.offerBoxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftboxOffer,
.rightboxOffer {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    text-align: left;
    padding: 2%;
    border: 1px solid grey;
    border-radius: 10px;
}

.leftboxOffer p,
.rightboxOffer p {
    font-size: var(--paraFontSmall);
    /* font-size: var(--paraFontSize); */
}

.leftboxOffer .p2 span {
    color: var(--darkBlueBgColor);
}

.bookingProcess {
    width: 100%;
}

.bookingProcessHead {
    font-size: var(--headingFontSize);
}

.box1 {
    width: 10vw;
    height: 10vw;
    border: 4px solid #00C4DE;
    border-radius: 50%;
}

.num {
    position: absolute;
    /* top: 0; */
    left: 2px;
    font-size: 250px;
    font-weight: 1000;
    color: rgba(0, 196, 222, 1)
}